body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background: #f4f9ff;
    }

    /* Navbar */
    nav {
      background: teal;
      padding: 20px;
      display: flex;
      justify-content: center;
      gap: 30px;
    }
    nav a {
      color: white;
      text-decoration: none;
      /* font-weight: bold; */
      font-size: 18px;
    }
    nav a:hover {
      text-decoration: underline;
    }

    #heading{
        text-align: center;
        margin-top: 40px;
        font-size: 45px;
        color: rgb(5, 109, 122);
    }
    /* Home Section */
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;
      padding: 50px;
    }

    .card {
      background: white;
      padding: 30px;
      margin-left: 40px;
      width: 250px;
      height: 200px;
      border-radius: 15px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.1);
      text-align: center;
      transition: transform 0.3s, box-shadow 0.3s;
    }
    .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    }

    .card h2 {
      margin-bottom: 20px;
      color: teal;
    }

    .card p {
      font-size: 14px;
      color: #555;
      margin-bottom: 25px;
    }

    .button{
      position: relative;
      overflow: hidden;
      padding: 10px 20px;
      background: teal;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      transition: background 0.3s;
      z-index: 1;
    }
    .button::after{
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #9b59b6;
      transition: width 0.3s ease;
      z-index: -1;
    }
    .button:hover::after{
         width: 100%;
    }
    .button:hover{
         color: white;
    }
    

    /* Responsive */
    @media (max-width: 900px) {
      .container { grid-template-columns: 1fr 1fr; }
    }
    @media (max-width: 600px) {
      .container { grid-template-columns: 1fr; }
    }